<main class=" main">

    <!--<div class="container-fluid  ">

        <div class="container body">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card cards">
                        <div class="card-body">
                            <h5 class="card-title text-center">Change Password</h5>
                            <form [formGroup]="form">
                              

                                <div class="form-group">
                                    <label for="text">New-Password </label>
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Enter " formControlName="password">
                                </div>
                                <div class="form-group">
                                    <label for="text">Confirm New-Password</label>
                                    <input type="password" class="form-control" id="password2"
                                        placeholder="Enter " formControlName="password2">
                                </div>
                                <button type="submit" class="btn btn-light btn-block" (click)="Submit()">Change Password</button>
                            </form>
                            <div class="text-center mt-3">
                                <a href="">Back to Login</a>
                            </div>
                            <!-- <div class="card text-center mb-3" id="successMessage">
                                <div class="card-body">
                                    <p class="card-text text-success">Reset link is successfully sent to registered
                                        email.</p>
                                </div>
                            </div>
                            <div class="card text-center  mb-3" id="ErrorMessage">
                                <div class="card-body">
                                    <p class="card-text text-error">Please Enter a Registered Email</p>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>-->

    <div class="full-page-container d-flex align-items-center justify-content-center">
       <!-- <div class="background-image-container">
            <img class="background-image" src="assets/imgs/client-authentication-certificate-feature.jpg" alt="Background Image">
        </div>-->
        <div class="container body vh-100 d-flex align-items-center justify-content-center">
            <div class="row justify-content-center w-100">
                <div class="col-md-6">
                    <div class="card cards card-custom-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-center">Change Password</h5>
                            <form [formGroup]="form">
                                <div class="form-group pwd">
                                    <label for="new_password">New Password</label>
                                    <input type="password" class="form-control" id="password"
                                    [type]="showPassword ? 'text' : 'password'" placeholder="Enter the password" formControlName="userpassword"
                                    [ngClass]="{
                                        'is-invalid': form.get('userpassword')?.invalid && (form.get('userpassword')?.touched)
                                      }">
                                        <i class="bi eye-icon" [class.bi-eye-fill]="showPassword" [class.bi-eye-slash-fill]="!showPassword" (click)="togglePasswordVisibility()" style="cursor: pointer;"></i>
                                </div>
                                <div  *ngIf="form.get('userpassword')?.invalid && (form.get('userpassword')?.touched)" class="text-danger">
                                    Password is Required.
                                  </div>
                                <div class="form-group pwd">
                                    <label for="confirm_new_password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="password2"
                                    [type]="showPassword1? 'text' : 'password'" placeholder="Enter the confirm password" formControlName="userpassword2" 
                                    [ngClass]="{
                                        'is-invalid': form.get('userpassword2')?.invalid && (form.get('userpassword2')?.touched)
                                      }">
                                        <i class="bi eye-icon" [class.bi-eye-fill]="showPassword1" [class.bi-eye-slash-fill]="!showPassword1" (click)="togglePasswordVisibility1()" style="cursor: pointer;"></i>
                                </div>
                                <div  *ngIf="form.get('userpassword2')?.invalid && (form.get('userpassword2')?.touched)" class="text-danger">
                                    Confirm Password is Required.
                                  </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-light btn-block" (click)="Submit()">Change Password</button>
                                </div>
                        
                            </form>
                            <div class="text-center mt-3">
                                <a href="">Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-toast [style]="{width:'300px'}"></ng-toast>
</div>
</main>

