<main class=" main">

    <!--<div class="container-fluid  ">

        <div class="container body">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card cards">
                        <div class="card-body">
                            <h5 class="card-title text-center">Reset Password</h5>
                            <form [formGroup]="form">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="Enter Your Registered Email" formControlName="email">
                                </div>
                                <button type="submit" class="btn btn-light btn-block" (click)="Submit()">Send Reset Link</button>
                            </form>
                            <div class="text-center mt-3">
                                <a href="">Back to Login</a>
                            </div>
                            <!-- <div class="card text-center mb-3" id="successMessage">
                                <div class="card-body">
                                    <p class="card-text text-success">Reset link is successfully sent to registered
                                        email.</p>
                                </div>
                            </div>
                            <div class="card text-center  mb-3" id="ErrorMessage">
                                <div class="card-body">
                                    <p class="card-text text-error">Please Enter a Registered Email</p>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>-->
    <div class="full-page-container d-flex align-items-center justify-content-center">
        <div class="background-image-container">
            <img class="background-image" src="assets/imgs/client-authentication-certificate-feature.jpg" alt="Background Image">
        </div>
        <div class="container body vh-100 d-flex align-items-center justify-content-center">
            <div class="row justify-content-center w-100">
                <div class="col-md-6">
                    <div class="card cards card-custom-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-center">Reset Password</h5>
                            <form [formGroup]="form">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="Enter Your Registered Email" formControlName="email" 
                                        [class.is-invalid]="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                                        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="invalid-feedback">
                                            <div *ngIf="form.get('email')?.errors?.['required']">Email is required.</div>
                                            <div *ngIf="form.get('email')?.errors?.['email']">Invalid email format.</div>
                                </div>
                                <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-light btn-block" (click)="Submit()">Send Reset Link</button>

                                </div>
                                </div>
                            </form>
                            <div class="text-center mt-3">
                                <a href="">Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-toast [style]="{width:'300px'}"></ng-toast>
    </div>
    


</main>
<ngx-spinner>
    <div class="spinner-border " role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </ngx-spinner>