
   
//    .cards{
//     margin: 25% auto;
//     padding: 50px;
// }.card {
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }
  
//   .card-title {
//     font-size: 24px;
//     font-weight: bold;
//     margin-bottom: 20px;
//   }
  
//   .form-group label {
//     font-weight: bold;
//   }
  
//   .form-control {
//     border-radius: 5px;
//   }
  
//   .btn {
//     background-color:cadetblue;
//     border: none;
//     color: #ffff;
//   }
  
//   .btn-light:hover {
//     background-color: rgb(87, 96, 96);
//   }
  
//   .btn-block {
//     display: block;
//     width: 100%;
//     padding: 10px;
//     margin-top: 20px;
//   }
  
//   .btn-block:hover {
//     cursor: pointer;
//   }
  
//   .text-center a {
//     color: #404a55;
//     text-decoration: none;
//   }
  
//   .text-center a:hover {
//     text-decoration: underline;
//   }
  
//   .form-group{
//     label{font-size: larger;}
//     margin-bottom: 5px;
//   }


//   // for sucess msg

//   /* Style for success message card */
 
  
//   #successMessage .card {
//     border-color: #28a745; /* Green border color */
//     padding: 25px;

//   }
//   #errorMessage  .card {
//     border-color: red; /* Green border color */
//     padding: 25px;

//   }
  
//   #successMessage .card-text {
//     color: #28a745; /* Green text color */
//   }
 
//   #errorMessage .card-text {
//     color: red; /* Green text color */
//   }



  
html, body {
  height: 100%;
  margin: 0;
}

.full-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the image is behind the card */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container.vh-100 {
  height: 100vh;
}

.card {
  width: 100%;
}

.card-custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.success-message {
  color: green;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.text-center a {
  color: cadetblue;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

input.form-control {
  border-radius: 10px;
}

.btn {
  font-size: large;
  background-color: cadetblue;
  padding: 5px 30px;
  color: white;
  border: none;
}

// .btn-block {
//   width: 100%;
// }

.text-center.mt-3 a {
  color: cadetblue;
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-center.mt-3 a:hover {
  text-decoration: underline;
}

input{
  margin-top: 5px;
}
label{
  font-size: x-large;

}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 60%;
  // transform: translateY(-20%);
  font-size: 1.2em;
  cursor: pointer;
  color: cadetblue;
}

.pwd{
  position: relative;
}