/* Custom styles for the table */
.table {
  margin-bottom: 0; /* Remove default table margin */
}

.table thead th {
  // background-color: #1f7d8a; /* Header background color */
 // background-color: rgb(49 57 67 / 38%);
  background-color: cadetblue;
  color: #ffffff; /* Header text color */
  text-align: center;
}
th{
  i{
    color: #ffffff;   // scss
    font-size: 22px;
  }
}

.disabled {
  opacity: 0.5; /* Example: reduce opacity to indicate disabled state */
  pointer-events: none; 
  background-color: #E9ECEF;
  border-radius: 12px;
  //background-color: red;/* Example: disable pointer events */
  /* Add any other styling you want for the disabled state */
}

.head{
  font-style: bold ;
  font-size: 30px;
  color: rgb(56, 78, 83);
}
.containers{
  //font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6; /* Table cell border */
}

/* Custom styles for the "Add New Data Source" button */
.AButt {
  background-color: cadetblue;/* Success button background color */
  border: none; /* Remove button border */
  }

//read only field

.readonlydate{
  background-color:#E9ECEF;
}
 //pagination
 .pagination{
  margin-top: 20px;
}
.pagination .page-item .page-link {
  color:  cadetblue;
}
// Add this to your component's SCSS file

.table-responsive {
 
  transition : 1s;
  overflow-y: auto ;
  max-height: 540px;
     table  {
      tbody{
        tr{
          height: 50px;
          td{
            text-align: center;
          }
        }
      }
    thead {
      tr{
        z-index: 1;
        top: 0;
        position: sticky;
        th{
          text-align: center;
          width: calc(100% / 8);
        }
        
    }
    }
    tr {
      height: 40px;
      
    }

  }
}
//new bussiness rule button
.AButt i {
  /* Add styles for the icon here */
  margin-left: 5px; /* Adjust the spacing between the icon and text */
}
    ///buttun in table
    
.table-responsive .btn  {
  /* Set your desired background color */
  
   /* Add rounded corners */
   /* Add rounded corners */
   color:black;
   border-radius: 14px;
   background-color:white;
   font-size: 20px;
   //padding: 10px;
   border: none; /* Remove button border if needed */
   cursor: pointer; /* Add a pointer cursor for better interaction */
 
   &:hover {
       background-color:rgb(43, 159, 172); /* Set your desired hover color */
   }

}

.card{
  
  background-color: #ffff;
  //height: 800px;  
  display:flex ;
  
}


  ////////////////////////////bussiness rule management
  .btn{
     font-size: large;
     background-color: cadetblue;
     color: white;
     border: none;
}
  .lbut{
    display: flex;
    justify-content: center;
    
       .btn-primary {
        //padding: 4px 30px;
        margin: 20px;

     }
    
  
  }
  .hal{
    border: solid lightgray;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
   
  }




.dis{
  margin-left: 10px;
  height: 150px ;
}


.bigbox{

  height: 250px ;
}
.main {

  margin-top: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  //font-family: Arial, Helvetica, sans-serif;
  //font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



textarea{
  margin-bottom: 10px;
}
input{
  margin-bottom: 10px;
}


//grid button edit delete
.tableButton{
 
  i{
    color:cadetblue;
    padding: 5px;
    font-size: large;
    //transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
 
    }
    i:hover {
      background-color: #bfcfdf;
      border-radius: 8px; /* Change to your desired hover color */
      //transform: scale(1.1); /* Example: Increase size on hover */
    }
}
.form-group {

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group {
      .input-group {
          position: relative;
          border-radius: 10px;
          
          .form-select {
              flex: 1;
              //border-radius: .25rem;
              border-radius: 10px;
            
          }

       
  }
}

}
.Rp{
  margin-top: 15px ;
}
/////////////////////pop up saveed db connetion
.pop{
  .bb{
    margin-top:70px;
    margin-left: 150px;
   
   
  }
  height: 300px;
  h1{
  font-style: bold;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
  }
  .fa-check {
  color: green-color;
  //Replace with your preferred green color
   font-size: 100px;  
   margin-left: 160px; 
   color: green;
   }
   }


////////////icon for sorting 
.bi-sort-alpha-up {

  font-size: 10px;
}
.bi-sort-alpha-down{
  font-size: 10px;

}
.bi-sort-numeric-up {
  font-size: 20px;
}
.bi-sort-numeric-down {
  font-size: 20px;
}

   //serch box
   .searchbox{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;

   }
   .icon{
    position: absolute;
    font-size: 26px;
   padding-right: 10px;
   padding-bottom: 10px;

   }
 
   

.search{
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-style: bold;
  border: 1px solid rgb(78, 188, 192);
}
.searchlabel{
  
 // font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}
.spinner-border{
  color:  cadetblue;
}
.editor-container {
  overflow-y: auto;
  height:220px ;
}

.page-link{
  cursor:pointer;
}
.text-right{
  margin-right: 25px;
 }
 .toast-middle {
  top: 30%;
  left: 50%;
  transform: translate(-20%, -50%);
}