// .nav{
//   background-color:  #557a95;
//   //background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%,rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%,rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%,rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%,rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%,rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%,rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%),linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%,rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%,rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%,rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%,rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%,rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%,rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
//     //background-image: linear-gradient(158deg, rgba(84, 84, 84, 0.03) 0%, rgba(84, 84, 84, 0.03) 20%,rgba(219, 219, 219, 0.03) 20%, rgba(219, 219, 219, 0.03) 40%,rgba(54, 54, 54, 0.03) 40%, rgba(54, 54, 54, 0.03) 60%,rgba(99, 99, 99, 0.03) 60%, rgba(99, 99, 99, 0.03) 80%,rgba(92, 92, 92, 0.03) 80%, rgba(92, 92, 92, 0.03) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 14.286%,rgba(8, 8, 8, 0.02) 14.286%, rgba(8, 8, 8, 0.02) 28.572%,rgba(52, 52, 52, 0.02) 28.572%, rgba(52, 52, 52, 0.02) 42.858%,rgba(234, 234, 234, 0.02) 42.858%, rgba(234, 234, 234, 0.02) 57.144%,rgba(81, 81, 81, 0.02) 57.144%, rgba(81, 81, 81, 0.02) 71.42999999999999%,rgba(239, 239, 239, 0.02) 71.43%, rgba(239, 239, 239, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.03) 0%, rgba(33, 33, 33, 0.03) 12.5%,rgba(147, 147, 147, 0.03) 12.5%, rgba(147, 147, 147, 0.03) 25%,rgba(131, 131, 131, 0.03) 25%, rgba(131, 131, 131, 0.03) 37.5%,rgba(151, 151, 151, 0.03) 37.5%, rgba(151, 151, 151, 0.03) 50%,rgba(211, 211, 211, 0.03) 50%, rgba(211, 211, 211, 0.03) 62.5%,rgba(39, 39, 39, 0.03) 62.5%, rgba(39, 39, 39, 0.03) 75%,rgba(55, 55, 55, 0.03) 75%, rgba(55, 55, 55, 0.03) 87.5%,rgba(82, 82, 82, 0.03) 87.5%, rgba(82, 82, 82, 0.03) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.02) 0%, rgba(42, 42, 42, 0.02) 20%,rgba(8, 8, 8, 0.02) 20%, rgba(8, 8, 8, 0.02) 40%,rgba(242, 242, 242, 0.02) 40%, rgba(242, 242, 242, 0.02) 60%,rgba(42, 42, 42, 0.02) 60%, rgba(42, 42, 42, 0.02) 80%,rgba(80, 80, 80, 0.02) 80%, rgba(80, 80, 80, 0.02) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(67, 67, 67, 0.03) 14.286%, rgba(67, 67, 67, 0.03) 28.572%,rgba(134, 134, 134, 0.03) 28.572%, rgba(134, 134, 134, 0.03) 42.858%,rgba(19, 19, 19, 0.03) 42.858%, rgba(19, 19, 19, 0.03) 57.144%,rgba(101, 101, 101, 0.03) 57.144%, rgba(101, 101, 101, 0.03) 71.42999999999999%,rgba(205, 205, 205, 0.03) 71.43%, rgba(205, 205, 205, 0.03) 85.71600000000001%,rgba(53, 53, 53, 0.03) 85.716%, rgba(53, 53, 53, 0.03) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.03) 0%, rgba(214, 214, 214, 0.03) 16.667%,rgba(255, 255, 255, 0.03) 16.667%, rgba(255, 255, 255, 0.03) 33.334%,rgba(250, 250, 250, 0.03) 33.334%, rgba(250, 250, 250, 0.03) 50.001000000000005%,rgba(231, 231, 231, 0.03) 50.001%, rgba(231, 231, 231, 0.03) 66.668%,rgba(241, 241, 241, 0.03) 66.668%, rgba(241, 241, 241, 0.03) 83.33500000000001%,rgba(31, 31, 31, 0.03) 83.335%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 12.5%,rgba(97, 97, 97, 0.03) 12.5%, rgba(97, 97, 97, 0.03) 25%,rgba(143, 143, 143, 0.03) 25%, rgba(143, 143, 143, 0.03) 37.5%,rgba(110, 110, 110, 0.03) 37.5%, rgba(110, 110, 110, 0.03) 50%,rgba(34, 34, 34, 0.03) 50%, rgba(34, 34, 34, 0.03) 62.5%,rgba(155, 155, 155, 0.03) 62.5%, rgba(155, 155, 155, 0.03) 75%,rgba(249, 249, 249, 0.03) 75%, rgba(249, 249, 249, 0.03) 87.5%,rgba(179, 179, 179, 0.03) 87.5%, rgba(179, 179, 179, 0.03) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.02) 0%, rgba(58, 58, 58, 0.02) 25%,rgba(124, 124, 124, 0.02) 25%, rgba(124, 124, 124, 0.02) 50%,rgba(254, 254, 254, 0.02) 50%, rgba(254, 254, 254, 0.02) 75%,rgba(52, 52, 52, 0.02) 75%, rgba(52, 52, 52, 0.02) 100%),linear-gradient(90deg, #ffffff,#ffffff);
//     display: flex;
//     //background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
//     //background-color: rgb(211, 223, 219);
//     justify-content: space-between;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     align-items: center;
//     padding: 2px 10px;
//     height: 50px;
//     z-index: 1000;
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   }
//   p {
//     //color: #ffff;

//     font-family: 'Times New Roman', Times, serif;
//     font-weight: 200;
//     font-size: 35px;
//     font-style: bold;
//     margin-right: 10% !important; /* Move the company name to the right */
//   }

//    .navbar-brand {
//      display: flex;
//      align-items: center;
//      //color: #ffff;
//      font-weight: bold;
//      margin-left: 0;
//      font-size: 20px;
//    }


//      img {
//        margin-right: 10px;
//        height: 40px ;
//        width: 45px;
//      }

//   // }



//   .profile-icon{

//     //color: #ffff;
//     font-size: 20px;
//     i{
//       padding: 5px;
//     margin-right: 10px;
//     }
//   }

.navbar {
  background-color: #717d8a !important;
  padding: 5px;
  height: 57px;
  position: fixed;
  top: 0;
  width: 100%;
  // align-items: center;
  padding: 2px 10px;
  // height: 50px;
  z-index: 1000;
}

.navbar-text,
.nav-link {
  color: white !important;
}

.navbar-text {
  font-size: x-large;
}

.dqBrand {
  color: aliceblue;
  margin-left: 5px;

}


.icon {

  .fas {
    color: #ffff;
    font-size: 18px;
    padding: 10px;


  }

  .bi {
    color: rgb(235, 248, 248);
    padding: 10px;
    font-size: 26px;
    //transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;

  }

  .bi:hover {
    background-color: cadetblue;
    border-radius: 10px;
    /* Change to your desired hover color */
    transform: scale(1.1);
    /* Example: Increase size on hover */
  }
}


.offcanvas {
  // background-color: rgb(219, 212, 212);
  color: rgb(68, 64, 64);

  // position: relative;
  margin-top: 65px;
  height: 200px;
  //max-height: fit-content;
  // max-width: ;
  border-radius: 12px;
  margin-right: 15px;


}

.lab {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  margin-bottom: 15px;

}

.buttonLink {
  

  .abutten :hover {
    background-color: #f0f0f0;
    /* Change to your desired background color */
    border-radius: 8px;
    padding: 10px;
  }

  .abutten {
    // padding-bottom: 5px;
    padding-top: 10px;
  }

  font-size: x-large;

  a {
    padding: 2px;
  }

  position: absolute;
  bottom: 10px;

  font-size: large;

  text-decoration: none;

  .log {
    // font-family: monospace;
    border-top: 1px solid rgb(173, 173, 173);
    width: 350px;
    padding-top: 3px;
    padding: 3px;
  }

  .bi {
    color: cadetblue;
  }
}


.btn-light a {
  text-decoration: none;
}
.canva {
  position: fixed;
  top: 0;
  right: -300px; /* Adjust the width as needed */
  width: 500px;
  height:fit-content;
  background-color: whitesmoke;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1050;
}
.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.offcanvas.show {
  right: 0;
}

.offcanvas-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.canvabody {
  padding: 1rem;
  background-color: whitesmoke !important;
  overflow-y: auto;
  max-height: 80vh;
}


.close {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.close span {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  color: #000; /* Adjust color as needed */
}

.list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
  background-color: whitesmoke;
}
.font-weight-bold {
  font-weight: bold;
}
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
}
li {
  border-bottom: 1px solid #333435 !important;
}

.status-icon {
  font-size: 0.8rem;
  margin-left: 5px;
}
.status-text {
  margin-left: 8px; 
}
.status-icon.success {
  color: green;
}

.status-icon.failure {
  color: red;
}
.list-group-item:hover {
  background-color: rgb(229, 229, 222); /* Change to desired hover background color */
  color: #333; /* Change to desired hover text color */
}
.read-button {
  color: black;
  //text-decoration: none;
  padding: 0;
  font-weight: bold;
}
.navbar-icon-container {
  position: relative;
  display: inline-block;
}

.navbar-icon-container .bi-bell-fill {
  font-size: 24px;
  cursor: pointer;
}

.navbar-icon-container .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
}

