
.main {
  margin-top: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  margin-bottom: 10px;
  border-radius: 10px;
}
textarea{
  border-radius: 10px;
  height: 225px;
  
}
.label{
  font-style: bold ;
  font-size: 30px;
  color: rgb(56, 78, 83);
}

.btn {
  font-size: large;
  background-color: cadetblue;
  color: white;
  border: none;
}

// create profiling button
.AButt {
  margin-right: 5px;

  i {
    margin-left: 5px;
  }
}


.lbut {
  display: flex;
  justify-content: center;

  .btn-light {
    margin: 20px;
  }


}


.table-responsive {
  transition: 1s;
  overflow-y: scroll 0.5rem;
  max-height: 525px;

  table {
    thead {
      tr {
        z-index: 1;
        top: 0;
        position: sticky;
        th{
          text-align: center;
          width: calc(100% / 10);
        }

      }
    }

    tr {
      height: 40px;
      text-align: center;
      justify-content: center;
    }

  }
}

.table-responsive .btn {
  /* Set your desired background color */

  /* Add rounded corners */
  color: black;
  border-radius: 14px;
  background-color: white;
  font-size: 20px;
  //padding: 10px;
  border: none;
  /* Remove button border if needed */
  cursor: pointer;
  /* Add a pointer cursor for better interaction */

  &:hover {
    background-color: rgb(43, 159, 172);
    /* Set your desired hover color */
  }

}

.table thead th {
  background-color: cadetblue;
  color: #ffffff;
  /* Header text color */
  text-align: center;
}

///buttun in table

.tableButton {

  i {
    color: cadetblue;
    padding: 10px;
    font-size: large;
    //transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;

  }

  i:hover {
    background-color: #bfcfdf;
    border-radius: 12px;
    /* Change to your desired hover color */
    //transform: scale(1.1); /* Example: Increase size on hover */
  }
}



label {
  font-style: bold;
  font-size: large;
  margin-bottom: 5px;
}

#validDataTable{
  thead{
    tr{
      
    background-color: cadetblue !important;
    color: #ffffff;
    /* Header text color */
    text-align: center;
    }
    }
  
}

.containers {
  font-size: 16px;


}

.table-containers {
  font-size: 16px;
  margin-top: 2px;
  padding: 10px;
}

h3 {
  font-size: xx-large;
  margin-bottom: 25px;
}

.card {
  // margin-top: 10px;
  background-color: #ffff;
  border-radius: 14px;
  height: auto;
  padding: 0;

}

//search icons 

.bi-sort-alpha-up {

  font-size: 20px;
}
.bi-sort-alpha-down{
  font-size: 20px;
}
.bi-sort-alpha-up-alt{
  font-size: 20px;
}
.bi-sort-numeric-up {
  font-size: 20px;
}
.bi-sort-numeric-down {
  font-size: 20px;
}



//pagination
.pagination {
  margin-top: 10px;
}

.pagination .page-item .page-link {
  color: cadetblue;
}



//serch box
.searchbox {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;

}

.icon {
  position: absolute;
  font-size: 26px;
  padding-right: 10px;
  padding-bottom: 10px;

}



.search {
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  font-style: bold;
  border: 1px solid rgb(78, 188, 192);
}

.searchlabel {

  // font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.t3{
  padding: 15px;
  margin-top: 10px;
}
.spinner-border{
  color:  cadetblue;
}
.app-spinner{
  color:  cadetblue;
}
.viewIcon{
  padding: 10px ;
  // margin-left: 5px;
  color: cadetblue;
  border-radius: 2px;
  cursor: pointer;
  font-size: larger;

}